########################################################

[h1: Ecosystems]
bgcolor = "#ECFFE6"

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[h2: Chlorophyll]
variable       = "chla"
alternate_vars = "chl"
depths = 5.5
skip_rmse = True
skip_cycle = True

[GLODAP2.2022]
source = "/pscratch/sd/g/georgina/ILAMB_runs/DATA/GLODAP2.2022/chla.nc"
skip_rmse = True
skip_cycle = True
table_unit = "1e-6 kg m-3"
plot_unit = "1e-6 kg m-3"

